@use '../../styles/helpers/' as *;

.audio-popup {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  font-size: 22px;
  pointer-events: none;
  transition: opacity .4s;
   background: rgba(227, 223, 223, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--color-dark);
    backdrop-filter: blur(933.3px);
    -webkit-backdrop-filter: blur(9.3px);
  z-index: 1;

 &.show-popup {
  opacity: 1;
  pointer-events: all;
}
&.hide {
  opacity: 0;
}
} 