@use '../../styles/helpers/' as * ; 

.main {
      display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        perspective: 800px ;
        width: 100%;
        background-image: url('app/src/assets/videos/downloaded-file.gif');
    &__title {
        font-family: Histress, Ashborn, Onerock, Manrope, sans-serif;
        font-size:  clamp(200px, 5vw, 40px);;
        margin: 0 auto;
        margin-top: -60px;
        font-weight: 600;
        perspective: 100px;
        filter: drop-shadow(-3px 5px 87px var(--color-white));
        letter-spacing: 2rem;
         transform: rotateX(28deg);
         line-height: 1.2;
         color: var(--color-black);
         text-shadow: 1px 1px 0 #ffffff, 2px 2px 5px rgba(0, 0, 0, 0.5) ; 
         font-weight: 500;
         transition: 0.14s color 0.1s ease-in-out;

        html.is-dark-theme & {
            color: var(--color-light);
             text-shadow: 1px 1px 0 #ffffff, 2px 2px 5px rgba(255, 255, 255, 0.5) ;
        }

        @include tablet {
            font-size:  clamp(160px, 5vw, 40px);;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        @include mobile {
            font-size:  clamp(100px, 5vw, 40px);;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        @include mobile-s {
            font-size:  clamp(40px, 5vw, 40px);;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        @media (width < 330px) {
        font-size:  clamp(20px, 5vw, 40px);;
        font-family: Manrope;
        perspective: none;
        letter-spacing: 5px;
    }
    }
    &__subtitle {
        font-family: Manrope, sans-serif;
        font-size: clamp(22px, 3vw, 18px);
        margin: 0 auto;
        margin-bottom: 10px;
            transform: rotateX(28deg);
            line-height: 1.2;
            text-shadow: 0 0 10px var(--color-white);
            text-transform: uppercase;
        padding-bottom: 24px;
        font-weight: 400;
        letter-spacing: .1rem;
        margin-top: 16px;
        text-shadow: 0 0 10px var(--color-white);
        text-transform: uppercase;
         color: var(--color-black);
         transition: 0.15s color 0.1s ease-in-out;
         html.is-dark-theme & {
            color: var(--color-light);
        }
        @include mobile-s {
            font-size: clamp(16px, 3vw, 18px); ;;
        }
    }
    &__links {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        &--list {
            display: flex;
            gap: 20px;
            list-style: none;
            padding: 0;
            margin: 10px;
        }
        &--item {
            text-decoration: none;
            transition: color 0.2s;

            @include hover {
                transform: scale3d(4px);
            }
        }
    }
    &__link {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        background-color: var(--color-light);
            color: var(--color-light);
            filter: drop-shadow(-3px 5px 87px var(--color-white));
            border: none;
            filter: var(--drop-shadow);
            transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; 
        @include mobile {
            @include square(40) ; 
        }
        @include mobile-s {
            @include square(30)  ;
        }
        @include hover {
            transform: scale3d(4px);
        }
        
        &-icon {
            width: 44px !important;
            height: 44px !important;
            fill: var(--color-light);
        :active {
        color: var(--color-light);
        }
        html.is-dark-theme & {
            fill: none;
        }
        @include mobile {
            @include square(30) ; 
        }
        @include mobile-s {
            @include square(20)  ;
        }
    }
}
}